.block-commerce-checkout-progress {
  margin-bottom: 2rem;
  text-align: center;
  @extend .small;
  display: none;

  @include breakpoint(sm) {
    display: block;
  }

  .item-list {
    position: relative;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #ccc;
      z-index: 1;
    }
  }

  ol.inline.commerce-checkout-progress {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    display: inline-block;
    position: relative;
    z-index: 2;

    li {
      display: inline-block;
      margin: 0 1rem;
      float: none;
      width: auto;
      border: 1px solid #ccc;
      padding: 1rem;
      background: #fff;

      &.active {
        background: $btn-primary-bg;
        color: #fff;
        @extend .font-smoothing-on;
      }

      &.visited {
        background: #ddd;
      }
    }
  }
}
