.node--venue--teaser {
  @include zoomIn($duration: 0.5s);
  position: relative;
  margin-bottom: 3rem;

  .field-name-field-page-header-featured-image {
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;

      .object-fit & {
        max-height: 200px;
      }
    }
  }

  .field-name-field-venue-exclusive {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    padding: 1rem;
    @extend .small;
    text-transform: uppercase;
  }
  
  .panel-title {
    font-size: 1.6rem;
  }
}
