.paragraphs-item-snp-section {
    border-bottom: 1px solid #eee;
  
    &.default {
      padding: 1% 0%;
      border-bottom: none;
    }
  
    &.has-bg-img {
      &.snp-section-full-width-background {
        border-bottom-color: #333;
  
        h1, .h1,
        h2, .h2,
        h3, .h3,
        h4, .h4,
        h5, .h5,
        h6, .h6 {
          color: #fff;
        }
  
        a:not(.btn) {
          color: $brand-yellow;
        }
  
        .btn {
          font-weight: $fw-semibold;
        }
      }
      
      &.snp-section-image-left {
        .snp-section-image {
          overflow: hidden;
          min-height: 300px;
        }
  
        &.section-4261 {
          .bg-img {
            width: 130%;
            margin-left: -10%;
          }
        }
      }
    }
  
    &.bg-color-tan {
      background-color: $color-tan-light;
    }
    &.bg-color-light-gray {
      background-color: #f9f9f9;
    }
  }
  