.field-name-field-content-blocks {
  > .paragraph-section {
    border-bottom: 1px solid #eee;

    .field-name-field-accordion-menu-description {
      font-size: 85%;
      margin-bottom: 1%;
    }
  }
}
